body {
  background: black;
}
/*
=============== 
Variables
===============
*/
:root {
  --ff-primary: "Roboto", monospace;
  --ff-secondary: "Roboto flex", sans-serif;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
/*
===============
Global Styles
===============
*/
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  font-family: var(--ff-primary);
  color: white;
  font-family: Roboto monospace;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 1.5rem;
}
.underline h2 {
  white-space: nowrap;
}

h3 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
h4 {
  font-size: 0.875rem;
}
.my-story {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  margin: 4rem 1rem;
}
/* .my-text {
  border: solid 1px white;
} */
.ambitionstory {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  gap: 5rem;
  justify-content: center;
  margin: 4rem 1rem;
}
/* .my-ambition {
  border: solid 1px white;
}  */
.grid-container {
  margin-top: 12rem;
}

.my-text,
.my-ambition {
  text-align: center;
  border: solid 5px rgba(20, 255, 236, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-text {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.my-ambition {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.my-image,
.ambition-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-image img,
.ambition-image img {
  width: 100%;
  height: 100%;
}

h2.mission span {
  color: rgba(20, 255, 236, 1);
}

p.support {
  margin: 0;
  font-style: var(--ff-secondary);
  color: white;
  letter-spacing: 5px;
}
.mission {
  font-size: 45px;
}
.support {
  font-size: 24px;
  padding: 0px 30px;
  line-height: 2;
}
.ambitionstory-last {
  margin: 4rem 1rem;
}
.ambition-last {
  padding-bottom: 3rem;
}
.education {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 80px;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.education img {
  width: 100%;
}
.education p {
  text-align: left;
}

@media screen and (max-width: 1080px) {
  .my-story {
    grid-template-columns: 1fr;
    grid-template-rows: 500px 600px;
    gap: 50px;
  }
  .ambitionstory {
    grid-template-columns: 1fr;
    grid-template-rows: 500px 600px;
    gap: 50px;
  }
  .ambition-image {
    order: 2;
  }
  .my-image img,
  .ambition-image img {
    width: auto;
    height: 600px;
  }
}
@media screen and (max-width: 930px) {
  .education {
    padding: 10px;
    width: 95%;
  }
}
@media screen and (max-width: 870px) {
  .education {
    grid-template-rows: 150px 1fr;
  }
}

@media screen and (max-width: 570px) {
  .education {
    grid-template-rows: 227px 1fr;
  }
}
@media screen and (max-width: 700px) {
  .my-story {
    grid-template-rows: 600px 600px;
  }
}
@media screen and (max-width: 580px) {
  .ambitionstory,
  .my-story {
    grid-template-rows: 700px 600px;
  }
}
@media screen and (max-width: 520px) {
  .ambitionstory,
  .my-story {
    grid-template-rows: 950px 600px;
  }
}
@media screen and (max-width: 440px) {
  .ambition-image img {
    width: auto;
    height: 410px;
  }
}
@media screen and (max-width: 470px) {
  .education {
    grid-template-rows: 120px 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .education img {
    width: 30%;
  }
  .support {
    font-size: 18px;
    padding: 0px 20px;
    line-height: 1.5;
  }
}
