footer {
  background-color: #001412;
  opacity: 0.7;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 12rem;
  color: white;
}
/* .footer-container {
  display: flex;
} */
/* .social-icons {
  display: grid;
  grid-template-rows: 1fr;
} */
.social-icons img {
  width: 40px;
  height: 40px;
  /* vertical-align: middle; */
  margin-left: 50%;
}
.footer-text p {
  margin: 10px 0;
}

.footer-text {
  margin-bottom: 10px;
}

.footer-social-icons {
  margin-top: 10px;
}
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
}
