#particles {
  width: 100%;
  height: 50vh;
  position: fixed;
  top: 0;
  z-index: -1;
}

.particle {
  position: absolute;
  border-radius: 50%;
  background: #787878;
  height: 8px;
  width: 8px;
}
