body {
  background: black;
}
/*
=============== 
Variables
===============
*/
:root {
  --ff-primary: "Roboto", monospace;
  --ff-secondary: "Roboto flex", sans-serif;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
/*
=============== 
Global Styles
===============
*/
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  font-family: var(--ff-primary);
  color: white;
  font-family: Roboto monospace;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 1.5rem;
}
.underline h2 {
  white-space: nowrap;
}

h3 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
h4 {
  font-size: 0.875rem;
}

img {
  display: block;
  height: 50%;
  width: 100%;
}

.col3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  margin-top: 5rem;
}

.tema-image {
  /* position: relative; */
  border: solid 10px rgba(20, 255, 236, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.tema-image img {
  width: 100%;
  display: block;
}

.tema-image p {
  position: absolute;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  z-index: 1;
  width: 20%;
  margin-top: 10%;
  font-style: var(--ff-primary);
  font-size: 27px;
}

li {
  margin-bottom: 10px;
  font-style: var(--ff-secondary);
  color: white;
}

ul {
  margin-top: 50px;
}

.button-view,
.button-source {
  padding: 10px 20px;
  border: none;
  background-color: rgba(20, 255, 236, 1);
  color: black;
  cursor: pointer;
  margin-top: 10px;
  font-style: var(--ff-primary);
  width: 113px;
}

.button-view:hover,
.button-source:hover {
  background-color: whitesmoke;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  margin-top: 5rem;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5%;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .col3 {
    gap: 20px;
  }
  .col2 {
    gap: 20px;
  }
}
@media screen and (max-width: 1180px) {
  .tema-image p {
    font-size: 18px;
  }
}
@media screen and (max-width: 920px) {
  .col3,
  .col2 {
    grid-template-columns: 550px;
    justify-content: center;
  }
  .tema-image p {
    font-size: 25px;
    width: 35%;
    margin-top: 20%;
  }
}
@media screen and (max-width: 620px) {
  .col3,
  .col2 {
    grid-template-columns: 450px;
  }
}
@media screen and (max-width: 460px) {
  .col3,
  .col2 {
    grid-template-columns: 400px;
  }
}
