body {
  background: #000000;
}
/* ul {
  list-style-type: none;
}
a {
  text-decoration: none;
} */

/*
=============== 
Variables
===============
*/

:root {
  --ff-primary: "Roboto", monospace;
  --ff-secondary: "Roboto flex", sans-serif;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
/*
=============== 
Global Styles
===============
*/

/* ul {
  list-style-type: none;
}
a {
  text-decoration: none;
} */
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  font-family: var(--ff-primary);
  color: white;
  font-family: Roboto monospace;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 1.5rem;
}
.underline h2 {
  white-space: nowrap;
}

h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 0.875rem;
}

/*
=============== 
Hero Section
===============
*/
.hero-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.hero-info h2 {
  white-space: nowrap;
}
.underline {
  border: 2px solid rgba(20, 255, 236, 1);
  padding: 10px;
  height: 69%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.underline h1 {
  margin-bottom: 0px;
}
.underline h2 {
  color: rgba(20, 255, 236, 1);
}
.hero {
  height: 700px;
  margin-top: 200px;
}
.hero-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-rows: 700px;
  justify-content: space-around;
  align-items: center;
  margin: 0px 20px 0 20px;
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.hero-photo {
  height: 75%;
}
.color-frame {
  height: 500px;
  width: 400px;
  margin-top: -10%;
  margin-left: 13%;
  position: absolute;
  border: solid 1px rgba(20, 255, 236, 1);
  opacity: 0.5;
}
.color-frame-2 {
  height: 500px;
  width: 400px;
  margin-top: -4%;
  margin-left: 8%;
  position: absolute;
  border: solid 5px rgba(20, 255, 236, 1);
}
/*
=============== 
footer Section
===============
*/

footer {
  background-color: #001412;
  opacity: 0.7;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 6rem;
  color: white;
}
.social-icons img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.footer-text p {
  margin: 10px 0;
}

.footer-text {
  margin-bottom: 10px;
}

.footer-social-icons {
  margin-top: 10px;
}
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
}

/*
=============== 
contact page
===============
*/
.contact-heading {
  text-align: center;
  margin-top: 6rem;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background: black;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  margin-top: 8rem;
  height: 500px;

  border: 3px solid rgba(20, 255, 236, 1);
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: rgba(20, 255, 236, 1);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(20, 255, 236, 1);
  border-radius: 4px;
  font-size: 16px;
  color: black;
}

.contact-form button {
  width: 50%;
  padding: 10px;
  background: rgba(20, 255, 236, 1);
  border: none;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin-left: 4.8rem;
}

.contact-form button:hover {
  background: rgb(96, 150, 146);
}
/*
=============== 
 end of contact page
===============
*/

@media screen and (max-width: 1280px) {
  .hero {
    height: 85vh;
  }
  .hero-box {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .hero-img {
    order: 1;
  }
  .hero-info {
    order: 2;
  }
  .underline {
    border: none;
  }
}
@media screen and (max-width: 800px) {
  .hero-info h2 {
    white-space: unset;
    text-align: center;
  }
}
@media screen and (max-width: 560px) {
  .underline h1 {
    text-align: center;
  }
}
